@let stats = data();
@if (stats) {
  <ion-card>
    @if (title()) {
      <ion-card-header>
        <ion-card-title>{{ title() }}</ion-card-title>
      </ion-card-header>
    }
    <ion-card-content>
      <ion-list>
        @if (showPercentage()) {
          <app-dash-percentage
            [stats]="stats"
            [title]="'officetime.page.stats.percentage' | translate"
          />
        }
        <ion-item>Arbeitstage: {{ stats.workdays }} / {{ stats.workdays }} </ion-item>
        <ion-item>Verbleibend: {{ stats.remaining }} </ion-item>
        <ion-item>Bürotage: {{ stats.officedays }} / {{ stats.officedays }} </ion-item>
        <ion-item>Freie Tage: {{ stats.freedays }} </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
}
