<app-page-header
  [color]="color"
  [disabled]="!!(rxSearchResult$ | async)?.exactMatch"
  (addItem)="showCreateDialog()"
>
  <app-item-list-searchbar toolbar
    [query]="(rxState$ | async)?.searchQuery"
    (queryChange)="searchFor($event)"
    (hitEnter)="addItemFromSearch()"
  ></app-item-list-searchbar>
  <app-item-list-toolbar
    (selectSortMode)="setSortMode($event)"
  >
    <ng-content select="[toolbarActions]"></ng-content>

    <ng-content toolbarActionsEnd select="[toolbarActionsEnd]"></ng-content>
  </app-item-list-toolbar>
</app-page-header>

<ion-content>
  <app-item-list
    [headerColor]="color"
    [header]="listHeader"
    [items]="rxItems$ | async"
    [itemTemplate]="itemTemplate"
  >
    <ng-content select="[listActions]"></ng-content>
  </app-item-list>
    <app-item-list-empty
      [isEmptyList]="!(rxItems$ | async)?.length"
      [isSearching]="(rxSearchResult$ | async)?.hasSearchTerm"
      [searchTerm]="(rxSearchResult$ | async)?.searchTerm"
      (emptyList)="showCreateDialog()"
      (emptySearch)="addItemFromSearch()"
    ></app-item-list-empty>

  <app-item-list-search-result
    [results]="rxSearchResult$ | async"
    (selectTrackingItem)="addTrackingItem($event)"
  ></app-item-list-search-result>
</ion-content>
