<ion-card>
  @if (title()) {
    <ion-card-header>
      <ion-card-title>{{ title() }}</ion-card-title>
    </ion-card-header>
  }
  <ion-card-content>
    <ion-button
      (click)="addOfficeDay()"
      [disabled]=""
      class="dash-button"
      expand="block"
      color="secondary"
      size="large"
    >
      <div flex-col flex-center-center>
        <ion-icon name="add" size="large" class="ion-margin-bottom"></ion-icon>
        <p>{{ 'officetime.page.add-office-day' | translate }}</p>
      </div>
    </ion-button>
  </ion-card-content>
</ion-card>
