@use '../../../../theme/dashboard' as dashboard;
@use 'sass:math' as math;
$padding: 16px;
:host {
  display: block;
  padding: $padding;
}

.dash-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(dashboard.$sm-item-width, 1fr)
  );
  gap: 1rem;
  align-items: stretch;
  grid-auto-flow: dense;
  > * {
    grid-column: span 2;
  }
  app-dash-percentage {
    grid-column: span 1;
  }

  @media (min-width: #{dashboard.$sm-item-width * 3 + $padding * 4}) {
    app-dash-holidays, app-dash-freedays, app-dash-days-list {
      grid-column: span 3;
    }
  }

  @media (min-width: #{dashboard.$sm-item-width * 4 + $padding * 5}) {
    app-dash-holidays {
      grid-column: span 4;
    }
  }
}




