@let holidays = holidays$ | async;
@let officeDays = officeDays$ | async;
@let statsMonth = statsMonth$ | async;
@let statsYear = statsYear$ | async;
@let isPartTime = isPartTime$ | async;

<section class="dash-grid">
  <app-dash-button/>

  <app-dash-office-days
    [title]="'officetime.page.stats.office-days' | translate"
    [officeDays]="officeDays"
  />

  <app-dash-percentage
    [percentage]="statsMonth?.fullTime?.percentage"
    [title]="'officetime.page.stats.percentage' | translate"
  />

  @if (isPartTime) {
    <app-dash-percentage
      [percentage]="statsMonth?.partTime?.percentage"
      [title]="'officetime.page.stats.parttime.percentage' | translate"
    />
  }

  <app-dash-date />

  <app-dash-stats
    [title]="'officetime.page.stats.year' | translate"
    [data]="statsYear?.fullTime"
  />

  @if (isPartTime) {
    <app-dash-stats
      [title]="'officetime.page.stats.year.partTime' | translate"
      [data]="statsYear?.partTime"
    />
  }

  <app-dash-stats
    [title]="'officetime.page.stats.month' | translate"
    [data]="statsMonth?.fullTime"
  />

  @if (isPartTime) {
    <app-dash-stats
      [title]="'officetime.page.stats.month.partTime' | translate"
      [data]="statsMonth?.partTime"
    />
  }

  <app-dash-holidays
    [title]="'officetime.page.stats.holidays' | translate"
    [holidays]="holidays"
  />
</section>
