@let holidays = holidays$ | async;
@let officeDays = officeDays$ | async;
@let statsMonth = statsMonth$ | async;
@let statsYear = statsYear$ | async;
@let isPartTime = isPartTime$ | async;
@let show = dashboardSettings$ | async;

<div class="dash-grid">
  <app-dash-button/>

  @if (show?.officedaysCard) {
    <app-dash-office-days
      [title]="'officetime.page.stats.office-days' | translate"
      [officeDays]="officeDays"
    />
  }
  @if (show?.percentageCard) {
    <app-dash-percentage
      [percentage]="statsMonth?.fullTime?.percentage"
      [title]="'officetime.page.stats.percentage' | translate"
    />
  }

  @if (show?.percentageCard && isPartTime) {
    <app-dash-percentage
      [percentage]="statsMonth?.partTime?.percentage"
      [title]="'officetime.page.stats.parttime.percentage' | translate"
    />
  }

  @if (show?.dateCard) {
    <app-dash-date/>
  }

  @if (show?.statsYear) {
    <app-dash-stats
      [title]="'officetime.page.stats.year' | translate"
      [data]="statsYear?.fullTime"
    />
  }

  @if (show?.statsYear && isPartTime) {
    <app-dash-stats
      [title]="'officetime.page.stats.year.partTime' | translate"
      [data]="statsYear?.partTime"
    />
  }
  @if (show?.statsMonth) {
    <app-dash-stats
      [title]="'officetime.page.stats.month' | translate"
      [data]="statsMonth?.fullTime"
    />
  }

  @if (show?.statsMonth && isPartTime) {
    <app-dash-stats
      [title]="'officetime.page.stats.month.partTime' | translate"
      [data]="statsMonth?.partTime"
    />
  }
  @if (show?.holidaysCard) {
    <app-dash-holidays
      [title]="'officetime.page.stats.holidays' | translate"
      [holidays]="holidays"
    />
  }
</div>
