@use '../../../../theme/dashboard' as dashboard;
@use 'sass:math' as math;
$padding: 16px;
:host {
  display: block;
  padding: $padding;
}

.dash-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(dashboard.$sm-item-width, 1fr)
  );
  gap: 1rem;
  align-items: stretch;
  grid-auto-flow: dense;

  @media (min-width: #{dashboard.$sm-item-width * 2 + $padding * 3}) {
    app-dash-officedays-edit, app-dash-freedays-edit, app-dash-holidays, app-dash-days-list {
      grid-column: span 2;
    }
  }
}
