@let holidays = holidays$ | async;
@let officeDays = officeDays$ | async;
@let statsMonth = statsMonth$ | async;
@let statsYear = statsYear$ | async;
@let isPartTime = isPartTime$ | async;


<ion-list>
  <ion-item>
    <div flex-row flex-wrap>
      <app-dash-button (buttonClick)="addOfficeDay()"/>
      <app-dash-office-days
        [title]="'officetime.page.stats.office-days' | translate"
        [officeDays]="officeDays"
      />
    </div>
  </ion-item>
  <ion-item>
    <div flex-row flex-wrap>
      <app-dash-percentage [percentage]="statsMonth?.fullTime?.percentage"
                           [title]="'officetime.page.stats.percentage' | translate"/>
      @if (isPartTime) {
        <app-dash-percentage [percentage]="statsMonth?.partTime?.percentage"
                             [title]="'officetime.page.stats.parttime.percentage' | translate"/>
      }
    </div>
  </ion-item>
  <ion-item>
    <div flex-row flex-wrap>
      <app-dash-stats [title]="'officetime.page.stats.year' | translate"
                      [data]="statsYear?.fullTime"/>
      @if (isPartTime) {
        <app-dash-stats [title]="'officetime.page.stats.year.partTime' | translate"
                      [data]="statsYear?.partTime"/>
      }
    </div>
  </ion-item>
  <ion-item>
    <div flex-row flex-wrap>
      <app-dash-stats [title]="'officetime.page.stats.month' | translate"
                      [data]="statsMonth?.fullTime"/>
      @if (isPartTime) {
        <app-dash-stats [title]="'officetime.page.stats.month.partTime' | translate"
                      [data]="statsMonth?.partTime"/>
      }
    </div>
  </ion-item>
  <ion-item>
    <app-dash-holidays [title]="'officetime.page.stats.holidays' | translate"
                       [holidays]="holidays"/>
  </ion-item>

</ion-list>
