@use '../../../../theme/dashboard' as dashboard;
@use 'sass:math' as math;
$padding: 16px;
:host {
  display: block;
  padding: $padding;
}

.dash-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(dashboard.$sm-item-width, 1fr)
  );
  gap: 1rem;
  align-items: stretch;
  grid-auto-flow: dense;
}

app-dash-stats,
app-dash-date,
app-dash-button,
app-dash-holidays,
app-dash-office-days {
  grid-column: span 2;
}

app-dash-percentage {
  grid-column: span 1;
}

@media (min-width: #{dashboard.$sm-item-width * 3 + $padding * 4}) {
  .dash-grid app-dash-holidays {
    grid-column: span 3;
  }
}

@media (min-width: #{dashboard.$sm-item-width * 4 + $padding * 5}) {
  .dash-grid app-dash-holidays {
    grid-column: span 4;
  }
}
