<app-page-header color="settings"
  [label]="'page-title.settings' | translate"
  hideButtons="true"
 />

<ion-content>
  <ion-list>
<!--    <ion-list-header color="settings">Schnell-Hinzufügen</ion-list-header>-->
<!--    <ion-item>-->
<!--      <ion-toggle-->
<!--        [checked]="(settings$ |async)?.showQuickAdd"-->
<!--        (ionChange)="toggleFlag('showQuickAdd')"-->
<!--        >"{{ 'item-list.quickadd.add'|translate:{list:-->
<!--        'list-header.base'|translate} }}" anzeigen</ion-toggle-->
<!--      >-->
<!--    </ion-item>-->
  </ion-list>
</ion-content>
