// golden cut ratios
$gc-tiny: 14.6%;
$gc-smaller: 23.6%;
$gc-small: 38.2%;
$gc-large: 61.8%;
$gc-one-quarter: 25%;
$gc-one-third: 33.33%;
$gc-half: 50%;
$gc-two-third: 66.66%;
$gc-three-quarter: 75%;
