<ion-app class="">
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>np-time-tracker</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <main>
        <ion-list>
          <ion-menu-toggle>
            <ion-item
              button
              routerLink="/tracking"
              color="tracking"
              lines="none"
            >
              <ion-label>{{ 'page-title.tracking' | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
<!--          <ion-menu-toggle>-->
<!--            <ion-item button routerLink="/settings" color="settings">-->
<!--              <ion-label>{{ 'page-title.settings' | translate }}</ion-label>-->
<!--            </ion-item>-->
<!--          </ion-menu-toggle>-->
          <ion-menu-toggle>
            <ion-item button routerLink="/data/_daily" color="data" lines="none">
              <ion-label>{{ 'page-title.data' | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </main>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-app>
