@let workingHoursDefault = (workingHoursDefault$ | async);
@let workingHours = (workingHours$ | async);
<ion-list>
  <ion-item>
    <ion-input [label]="'officetime.page.settings.workhours.default' | translate" type="number"
               (ionChange)="workHoursDefaultChange($event)" [value]="workingHoursDefault" />
  </ion-item>
  <ion-item>
    <ion-input [label]="'officetime.page.settings.workhours' | translate " type="number"
               (ionChange)="workHoursChange($event)" [value]="workingHours" />
  </ion-item>
</ion-list>

