@let dashboardSettings = dashboardSettings$ | async;
@let targetPercentage = targetPercentage$ | async;
@if (targetPercentage && dashboardSettings) {
  <ion-list>
    <ion-item>
      <ion-range
        labelPlacement="start"
        [label]="
          'officetime.page.settings.targetPercentage'
            | translate: { value: targetPercentage }
        "
        [min]="0"
        [max]="100"
        [pin]="true"
        [snaps]="true"
        [step]="1"
        [value]="targetPercentage"
        (ionChange)="changeTargetPercentage($any($event))"
      />
    </ion-item>
    @for (setting of dashboardSettings; track setting.key) {
      <ion-item>
        <ion-toggle
          [value]="setting.key"
          [checked]="setting.value"
          (ionChange)="changeDashboardSettings($event)"
        >
          <ion-label>{{
            'officetime.page.settings.dashboard.' + setting.key | translate
          }}</ion-label>
        </ion-toggle>
      </ion-item>
    }
    <ion-item>
      <ion-button id="present-alert" [color]="'danger'">
        Daten zurücksetzen
      </ion-button>
    </ion-item>
  </ion-list>
}
<ion-alert
  trigger="present-alert"
  [header]="'officetime.page.settings.reset.header' | translate"
  [subHeader]="'officetime.page.settings.reset.subheader' | translate"
  [message]="'officetime.page.settings.reset.message' | translate"
  [buttons]="alertButtons"
/>
