@use '../../../../theme/consts';
:host {
  &.tinted {
    ion-item {
      --ion-color-base: var(--ion-color-tint);
    }
  }

  .text-item-helper {
    align-self: center;
    text-align: end;
    padding: 0;
    max-width: 120px;
  }
}
