<ion-header>
  <ion-toolbar [color]="color()">
    <ion-buttons slot="start">
      <ion-menu-button />
    </ion-buttons>
    @if (label) {
      <ion-title>{{ label | translate }}</ion-title>
    }
    <ng-content select="[toolbar]" />
    @if (!hideButtons()) {
      <ion-buttons slot="end">
        <ion-button (click)="addItem.emit()" [disabled]="disabled()">
          <ion-icon name="add" slot="icon-only" />
        </ion-button>
      </ion-buttons>
    }
  </ion-toolbar>
  <ng-content />
</ion-header>
