<ng-template #itemTemplate>
  <ion-item button (click)="selectItem.emit()" lines="full" [class]="'tracking-item-'+item.state">
    <div class="status-bar">
      <ion-text [color]="getColor(item)"></ion-text>
    </div>
    <ion-reorder slot="start"></ion-reorder>
    <ion-label class="ion-text-wrap">
      <h2>{{ item.name }}</h2>
      <ion-note>{{ item.state }}
        @if (item.startTime) {
          (started: {{ item.startTime | date:'HH:mm:ss'}})
        }
      </ion-note>
    </ion-label>
    <ion-label slot="end">
      {{ item | npTrackingTime }}
    </ion-label>
  </ion-item>
</ng-template>

<ion-item-sliding (ionDrag)="handleItemOptionsOnDrag($event)">
  <ion-item-options side="start">
    <ion-item-option color="success" expandable (click)="emitEditItem()">
      Edit
    </ion-item-option>
    <ion-item-option color="warning" (click)="emitResetItem()">
      Reset
    </ion-item-option>
  </ion-item-options>

  <ng-container *ngTemplateOutlet="itemTemplate"></ng-container>

  <ion-item-options side="end">
    <ion-item-option color="danger" expandable (click)="emitDeleteItem()">
      Delete
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
