<ng-template #itemTemplate>
  <ion-item button (click)="selectItem.emit()" lines="full">
    <div class="status-bar">
      <ion-text [color]="getColor(item)"></ion-text>
    </div>
    <ion-reorder slot="start"></ion-reorder>
    <ion-label class="ion-text-wrap">
      <h2>{{ item.name }}</h2>
      <ion-note></ion-note>
    </ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="incrementQuantity($event)">
        <ion-icon name="add"></ion-icon>
      </ion-button>
      <ion-button (click)="decrementQuantity($event)">
        <ion-icon name="remove"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ng-template>

<ion-item-sliding (ionDrag)="handleItemOptionsOnDrag($event)">
  <ion-item-options side="start">
    <ion-item-option color="success" expandable (click)="emitCartItem()">
      <ion-icon name="cart" slot="icon-only"></ion-icon>
    </ion-item-option>
  </ion-item-options>

  <ng-container *ngTemplateOutlet="itemTemplate"></ng-container>

  <ion-item-options side="end">
    <ion-item-option color="danger" expandable (click)="emitDeleteItem()">
      Delete
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
